html,body {
  color: var(--color1);
}


.btn-sakura {
  background: var(--color2);
  
}


.table-colors {

  color: var(--color1);
}

.tr-hover:hover {
  background-color: var(--color2);
  transition: 0.3s;
}



